$contentBackground: rgba(100, 100, 100, 0.1);
$contentFontColor: #ddd;
$fontColorContent: #ccc;
$linkColor: #61dafb;
$logoColor: #cdcdcd;
$menuLinkColor: #ccc;
$menuLinkHoverColor: #fff;
$pageLinkColor: #ccc;
$pageLinkColorHover: #fff;
$primaryBorderColor: rgba(255, 255, 255, 0.2);
$primaryBackgroundColor: #333;
$primaryBackgroundImage: linear-gradient(#444, #222);
$primaryColor: #6ba0d6;
$secondaryColor: #304559;
