$primaryColor: #42af00;
$linkColor: #61dafb;
$secondaryColor: orange;
$fontColorContent: #ccc;
$primaryBackgroundColor: #333;
$primaryBackgroundImage: linear-gradient(#444, #222);
$logoColor: #cdcdcd;
$contentBackground: rgba(100, 100, 100, 0.1);
$contentFontColor: #ddd;
$primaryBorderColor: rgba(255, 255, 255, 0.2);
$menuLinkColor: #444;
$menuLinkHoverColor: #222;
$pageLinkColor: #ccc;
$pageLinkColorHover: #fff;
