$contentBackground: rgba(255, 255, 255, 0.1);
$contentFontColor: #444;
$dropdownBackground: #dedede;
$dropdownBackgroundHover: #888;
$dropdownBorder: 1px solid #888;
$fontColorContent: #444;
$iconColor: #444;
$iconColorHover: #222;
$linkColor: #ddd;
$linkColorHover: #fff;
$loaderBackgroundColor: rgba(255, 255, 255, 0.75);
$logoColor: #444;
$menuLinkColor: #ddd;
$menuLinkHoverColor: #fff;
$modalBackgroundColor: rgba(175, 175, 175, 0.5);
$modalContentBackgroundColor: #fff;
$modalContentBorderColor: #ccc;
$pageLinkColor: #364a75;
$pageLinkColorHover: #1f2e4d;
$primaryBorderColor: rgba(0, 0, 0, 0.2);
$primaryBackgroundColor: #dedede;
$primaryBackgroundImage: linear-gradient(#fff, #ccc);
$primaryColor: #6ba0d6;
$quoteListBackground: #fff;
$secondaryColor: #304559;
$spinnerColor: $primaryColor;
$titleLight: #666;
$titleDark: #222;
$summaryBackground: #fff;
$summaryLineColor: #ccc;
